.animation {
    width: 200px;
    height: 200px;
    background-color: red;
    /* animation-name: change-bg-color;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-delay: 2s; */

    animation: change-bg-color 4s forwards 3 2s;
}

@keyframes change-bg-color {
    0% {
        background-color: red;
    }

    30% {
        background-color: green;
    }

    50% {
        background-color: yellow;
    }

    100% {
        background-color: black;
    }
}

.loading {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-top: 10px solid silver;
    border-left: 10px solid silver;
    border-right: 10px solid silver;
    border-bottom: 10px solid black;
}